header{
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.7s;
}
.container-left{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

}

.container-left .header--logo{
  position: relative;
  left: 5px;
  height: 55px;
}


.container-left .header--logo img{
  padding-left: 0px;
  padding-bottom: 5px;
  height: 100%;
  
}

.container-left .container-as{
  position: relative;
  left: 20px;
}
.container-left .container-as a{
  color: #e4e1e1;
  padding-left: 30px;
  text-decoration: none;
  font-size: 14px;
  transition: all ease 0.3s;
}
.container-left .container-as a.select{
  color: #16e616;
}

.container-left a.oneA{
  padding-left: 30px;
}
.container-left a:hover{
  color: #787878;
 
}

header.black{
  background-color: #111111;
}

.container-left .navigation{
  display: none;
}

.container-right{
  display: flex;
  justify-content: space-between;
  align-items: center; 
 
}
.container-right .icons{
  padding-right: 20px;
  width: 50px;
}

.container-right .header--user{
  height: 35px;

}
.container-right .header--user img{
 
  height: 100%;
  border-radius: 3px;
  
}

.container-right .header--user .arrow{
color: #fdfdfd;
width: 25px;

}

@media(max-width: 870px){
  .container-left{
    width: 30%;
  
  }
  
  .container-left .header--logo{
    position: relative;
    left: -20px;
    width: 80px;
    height: 30px;
    align-items: center;
  }
  .container-left .header--logo img{
    width: 100%;
    height: 100%;
  }

  .container-left .container-as{
    display: none;
  }
  .container-left .navigation{
    display: flex;
    position: relative;
    align-items: center;
    right: 25px;
  }

  .container-left .navigation a{
    position: relative;
    font-size: 10px;
    color: #fdfdfd;
    text-decoration: none;
    left: 0px;
    align-items: center;
   
  }

  .container-left .navigation .arrowNavigation{
    margin: 0;
    padding: 0;
  }

  .container-right{
    width: 50%;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-right: 0px;

  }


  .container-right .icons{
    width: 40px;
  }
  .container-right .header--user{
    display: flex;
    padding-right: 0px;
  }

}

@media(max-width: 670px){
  .container-left{
    width: 50%;
   
  }
}

@media(max-width: 390px){

  .container-left{
    display: flex;
    position: relative;
    width: 50%;
  }

  .container-left .header--logo{ 
    position: relative;
    width: 80px;
    height: 30px;
    left: -30px;
  }

.container-left .header--logo img{
  padding: 3px;
  width: 100%;
  height: 100%;
}

  .container-left .navigation{
    display: flex;
    width: 60px;
    position: relative;
    left: -15px;
  }
 

  .container-left .navigation .arrowNavigation{
    width: 22px;
  }

  .container-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-right .icons{
    margin-right: -5px;
    width: 40px;
  }
  
  .container-right .header--user{
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
   
  }
  .container-right .header--user .arrow{
    position: relative;
    top: 5px;
  }



}