.featured{
  height: 100vh;
}

.featured--vertical{
  width: inherit;   /* herda a largura do anterior*/
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 80%);
 
}
.featured--horizontal{
  width: inherit;   /* herda a largura do anterior*/
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 80%);
  justify-content: center;
  padding-left: 30px; /*Para descolar a tela*/
  padding-top: 120px;
}
.featured--name{
  font-size: 60px;
  font-weight: bold;
}
.featured--info{
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
.featured--points,
.featured--year, 
.featured--season{
  display: inline-block;
  margin-right: 15px;

}
.featured--points{
  color: #46d369;
 
}

.featured--description{
  margin-top: 15px;
  font-size: 20px;
  color: #e5e5e5;
  max-width: 40%;
}
.featured--bottons{
margin-top: 15px;
}
.featured--watch--button,
.featured--my--list--button {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
}

.featured--watch--button:hover,
.featured--my--list--button:hover {

  opacity: 0.7;
}

.featured--watch--button{
 background-color: #fff;
 color:#000;
}
.featured--my--list--button {
  background-color: #333;
 color:#fff;
}
.featured--genres{
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}

@media(max-width: 760px){
  .featured{
    height: 90vh;
  }
  .featured--horizontal{
    margin-top: -30px;
  }
  .featured--name{
    font-size: 30px;
  }
  .featured--info{
    font-size: 12px;
  }
  .featured--description{
    font-size: 10px;
    max-width: 70%;
    margin-right: 30px;
  }
  .featured--watch--button,
  .featured--my--list--button{
    font-size: 12px;
  }

  .featured--genres{
    font-size: 14px;
  }
  




}